# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Ignore Caskfile for security reasons
Caskfile

# Keep our secrets!
.secrets
